@model ZeyadInHome.Models.Product

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>StockQuantity</th>
			<th>Category</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@Model.Id</td>
			<td>@Model.Name</td>
			<td>@Model.Description</td>
			<td>@Model.Price</td>
			<td>@Model.StockQuantity</td>
			<td>@Model.Category</td>
		</tr>
	</tbody>
</table>